<strong>Password recovery</strong>

<p>A password request was made for this email ({{ email }}). If you were not the request author, consider exchanging your password.</p>

<p>To continue with password recovery, use the token {{ token }} or click the link below.</p>

<a href="{{ link }}">Create new password</a>
